/* STYLES FOR THE JAPANESE PEDAL */

@import url(/fonts/epf/stylesheet.css);
@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/pirulen/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);

/* = CONTAINER
================================================ */
.mod-pedal-japanese{{{cns}}} {
    background-position:center center;
    background-repeat:no-repeat;
    height:530px;
    position:absolute;
    width:274px;
    border-radius: 18px;
}

/* PORTS
================================================ */

.mod-pedal-japanese{{{cns}}}.mod-pedal .mod-pedal-input,
.mod-pedal-japanese{{{cns}}}.mod-pedal .mod-pedal-output {
    top: 186px;
}

/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-japanese{{{cns}}} .mod-plugin-brand {
    bottom:95px;
    left:30px;
    position:absolute;
    right:30px;
    text-align:center;
    text-transform:uppercase;
}

.mod-pedal-japanese{{{cns}}} .mod-plugin-brand h1 {
    color:#1c2125;
    font-family:"Nexa";
    font-size:32px;
    text-shadow:1px 2px 2px rgba(0,0,0,.5),2px 4px 5px rgba(0,0,0,.5),0px 0px 8px rgba(0,0,0,.5), -1px -1px 1px rgba(255,255,255,.2);
}

/* = PLUGIN'S NAME
================================================ */
.mod-pedal-japanese{{{cns}}} .mod-plugin-name {
    bottom:210px;
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:right;
    top:230px;
}

.mod-pedal-japanese{{{cns}}} .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:34px;
    line-height:1;
}

/* = LIGHT ON/OFF
================================================ */
.mod-pedal-japanese{{{cns}}} .mod-light {
    height:32px;
    left:121px;
    position:absolute;
    top:197px;
    width:32px;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal-japanese{{{cns}}} .mod-footswitch {
    bottom:46px;
    cursor:pointer;
    height:155px;
    left:13px;
    position:absolute;
    right:13px;
}


/* = BACKGROUND IMAGES - Colour of the pedal
================================================ */
.mod-pedal-japanese{{{cns}}}.mod-black {
    background-image:url(/resources/pedals/japanese/black.png{{{ns}}});
}

.mod-pedal-japanese{{{cns}}}.mod-black .mod-plugin-name h1 {
    color:#a3560b;
}

.mod-pedal-japanese{{{cns}}}.mod-black .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
}

/* STYLES FOR THE JAPANESE KNOB */


/* = KNOBS
================================================ */
.mod-pedal-japanese{{{cns}}} .mod-control-group.mod-orange .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/japanese/black.png{{{ns}}});
}

.mod-pedal-japanese{{{cns}}} .mod-control-group {
    height:141px;
    left:17px;
    position:absolute;
    right:17px;
    top:18px;
    z-index:30;
}
.mod-pedal-japanese{{{cns}}} .mod-control-group .mod-knob {
    height:70px;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    width:60px;
}
.mod-pedal-japanese{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    line-height:1;
    margin:0;
    margin-top: 2px;
    padding:0;
    position:relative;
    overflow:hidden;
    text-transform:uppercase;
}
.mod-pedal-japanese{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-position:left center;
    background-repeat:no-repeat;
    background-size:auto 52px;
    height:52px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    width:52px;
}

.mod-pedal-japanese{{{cns}}} .mod-control-group .mod-spacer {
    display:inline-block;
    float: left;
    height: 52px;
    margin-top: 2px;
    width: 60px;
}
